parameters:
    ignoreErrors:
        -
            message: '/no value type specified in iterable type array/'
            path: %currentWorkingDirectory%/src/*.php
        -
            message: '/supplied for foreach, only iterables are supported/'
            path: %currentWorkingDirectory%/src/Denormalizer/Relation/EmbedManyFieldDenormalizer.php
        -
            message: '/supplied for foreach, only iterables are supported/'
            path: %currentWorkingDirectory%/src/Denormalizer/Relation/ReferenceManyFieldDenormalizer.php
