parameters:
	ignoreErrors:
		- '#Call to an undefined method Chubbyphp\\Deserialization\\Denormalizer\\DenormalizerContextInterface::isResetMissingFields().#'
		- '#Method Chubbyphp\\Deserialization\\Decoder\\JsonxTypeDecoder::decode() should return array but returns array|bool|float|int|string|null.#'
